:root {
    /*background 1*/
    --color-1: #606c38;
    /*background 2*/
    --color-2: #283618;
    /*text color*/
    --color-3: #fefae0;
    /*link color*/
    --color-4: #dda15e;
    /*topbar stuff*/
    --color-5: #bc6c25;
    /*--text-color: #ffffff;
    --link-color: #4a76ee;
    --background-color: #065124;*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-2);
    font-family: 'Prompt', sans-sarif;
}

a {
    color: var(--color-4);
    text-decoration: none;
}

/* navbar*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 80px;

}

nav .left a {
    color: var(--color-5);
    font-size: 30px;
    font-weight: 600;
}

nav .right a {
    color: var(--color-5);
    margin: 0 10px;
    font-size: 20px;
    /*font-weight: 600;  */
}

nav .right a:last-child {
    color: var(--color-2);
    background-color: var(--color-5);
    padding: 5px 15px;
    border-radius: 5px;
}

nav .right a span {
    margin-left: 2px;
}

/* hero */
.hero-section
{
    color: var(--color-3);
    background-color: #606c38;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 10px 0;
    margin-bottom: 100px;
    gap: 40px;
}
.hero-section .text
{
    flex: 5;
}
.hero-section .text h2
{
    font-size: 45px;
}
.hero-section .text .links
{
    font-size: 20px;
    margin-top: 20px;
}
.hero-section .text .links a
{
    display: inline-block;
    padding: 2px 10px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    transition: .1s;
}
.hero-section .text .links a:hover
{
    color: var(--text-color);
    border: 2px solid var(--text-color);
}
.hero-section .headshot
{
    flex: 2;
    display: flex;
    justify-content: right;
}
.hero-section .headshot img
{
    /*border-style: solid var(--color-5);*/
    border: 5px solid var(--color-5);
    border-radius: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

/*skills section*/
.skills 
{
    color: var(--color-3);
    background-color: #283618;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 10px 0;
    margin-bottom: 100px;
    gap: 40px;
}
.skills .options{
    flex: 5;
}
.skills .options h2 {
    font-size: 45px;
}
@media(max-width:900px) {
    /*hero*/
    .hero-section .text h2
    {
        font-size: 35px;
    }    
}
@media(max-width:790px)
{
    .hero-section
    {
        flex-direction: column-reverse;
    }
    .hero-section .headshot img
    {
        width: 200px;
        height: 200px;
        object-fit: cover;
        margin-top: 20px;
        margin-bottom: 0px;
    }
}
@media(max-width: 725px){
    /*nabar*/
    nav{
        padding: 0 20px;
    }
    nav .right a {
        font-size: 30px;
        margin: 0 5px;
    }
    nav .right a:last-child
    {
        color: var(--color-5);
        background-color: transparent;
        padding: 0;
        border-radius: none;
    }
    nav .right a span{
        display: none;
    }

    /* hero */
    .hero-section
    {
        padding: 0 20px;
    }
    .hero-section .text h2
    {
        font-size: 30px;
    }
}
